@charset "utf-8";

html {
	font-size: 16px;
}

body {
	background-color: #f0f0f0;
}

body > h1, body > h2, body > div {
	margin-left: auto;
	margin-right: auto;
	width: 544px;
}

button {
	margin-right: 8px;
	padding: 8px;
	background-color: #f8f8f8;
	border: solid 1px #ccc;
}

button:active {
	background-color: #ccc;
}

section {
	margin: 16px auto;
	padding: 16px;
	width: 512px;
	background-color: #f8f8f8;
	border: solid 1px #ccc;
	border-radius: 4px;
	position: relative;
	display: flex;
}

.switch {
	padding: 4px 16px 4px 0;
}

select {
	margin-bottom: 8px;
	border: none;
	border-bottom: solid 1px #ccc;
	background: none;
	outline: none;
}

h3 {
	margin: 0;
}

p {
	margin: 8px 0;
	line-height: 1.2rem;
}

ul {
	padding-left: 16px;
}

li {
	margin-bottom: 8px;
}

li select {
	margin-bottom: 0;
}

.help-button {
	margin: 0;
	padding: 0;
	border-radius: 50%;
	display: inline;
	position: relative;
}

.help-button::before {
	content: '？';
	width: 15px;
	height: 15px;
	display: inline-block;
}

.help-button > :first-child {
	padding: 8px;
	width: 256px;
	background-color: #f0f0f0;
	border: solid 1px #ccc;
	position: absolute;
	top: -10px;
	left: 20px;
	display: none;
	z-index: 1;
	box-shadow: 0 0 4px #ccc;
	background-color: #f0f0f0;
}

.help-button:focus > :first-child {
	display: inline;
	text-align: justify;
	line-height: 1.2rem;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 4px;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	vertical-align: top;
}

th {
	text-align: center;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}


tr:not(:last-child) td {
	border-bottom: dashed 1px #ccc;
}

tr:last-child td {
	border-bottom: solid 1px #ccc;
}

footer {
	background-color: #333;
	color: #ccc
}

footer p {
	margin: 0 auto;
	padding: 16px;
	width: 544px;
	text-align: center;
}

footer a {
	color: inherit;
}

.unimplemented {
	background-color: transparent;
}

.unimplemented h3::after {
	content: '未実装';
	padding: 0 8px;
	color: #ff3333;
	font-size: 0.7rem;
}

.beta h3::after {
	content: 'ベータ版';
	padding: 0 8px;
	color: #3333cc;
	font-size: 0.7rem;
}