@charset "utf-8";

/* **********************************************
 * メッセージ欄の行間を狭く
 ************************************************ */

/* ************* 1 ************* */
/* margin-top: -10px; を解除 */
.margin-removal-1 .jGyvbd .jO0Dzb .COKy9b {
	margin-top: 0 !important;
}

/* フラットの場合のユーザアイコン単位のメッセージ */
.margin-removal-1 .WQKmIb .ajCeRb:not(.zzVqCe) {
	padding-top: 6px !important;
}

/* ユーザアイコン単位のメッセージ */
.margin-removal-1 .nF6pT {
	padding-top: 8px !important;
}

/* 同じユーザが連投した時のメッセージ */
.margin-removal-1 .dsoUjb:not(.WQKmIb) .jO0Dzb.nF6pT {
	margin-top: 2px !important;
}

/* ユーザ名の行 */
.margin-removal-1 .NGoCob {
	padding-bottom: 2px !important;
}

/* リアクション */
.margin-removal-1 .SFMExc {
	margin-top: 2px !important;
}

/* アイコン */
.margin-removal-1 .HTZBof {
	margin-right: 8px !important;
}

/* ************* 2 ************* */
/* margin-top: -10px; を解除 */
.margin-removal-2 .jGyvbd .jO0Dzb .COKy9b {
	margin-top: 0 !important;
}

/* フラットの場合のユーザアイコン単位のメッセージ */
.margin-removal-2 .WQKmIb .ajCeRb:not(.zzVqCe) {
	padding-top: 4px !important;
}

/* ユーザアイコン単位のメッセージ */
.margin-removal-2 .nF6pT {
	padding-top: 4px !important;
}

/* 同じユーザが連投した時のメッセージ */
.margin-removal-2 .dsoUjb:not(.WQKmIb) .jO0Dzb.nF6pT {
	margin-top: 1px !important;
}

/* ユーザ名の行 */
.margin-removal-2 .NGoCob {
	padding-bottom: 1px !important;
}

.margin-removal-2 .Zc1Emd {
	line-height: 1.1rem !important;
}

/* リアクション */
.margin-removal-2 .SFMExc {
	margin-top: 1px !important;
}

/* アイコン */
.margin-removal-2 .HTZBof {
	margin-right: 8px !important;
}
/* ************* 3 ************* */
/* margin-top: -10px; を解除 */
.margin-removal-3 .jGyvbd .jO0Dzb .COKy9b {
	margin-top: 0 !important;
}

/* フラットの場合のユーザアイコン単位のメッセージ */
.margin-removal-3 .WQKmIb .ajCeRb:not(.zzVqCe) {
	padding-top: 2px !important;
}

/* ユーザアイコン単位のメッセージ */
.margin-removal-3 .nF6pT {
	padding-top: 2px !important;
}

/* 同じユーザが連投した時のメッセージ */
.margin-removal-3 .dsoUjb:not(.WQKmIb) .jO0Dzb.nF6pT {
	margin-top: 0 !important;
}

/* ユーザ名の行 */
.margin-removal-3 .NGoCob {
	padding-bottom: 0 !important;
}

.margin-removal-3 .Zc1Emd {
	line-height: 1.05rem !important;
}

/* リアクション */
.margin-removal-3 .SFMExc {
	margin-top: 0 !important;
}

/* アイコン */
.margin-removal-3 .HTZBof {
	margin-right: 8px !important;
}


/* **********************************************
 * メッセージ欄のユーザ名を太字に
 ************************************************ */
/* ユーザ名 */
.bold-name .AflJR .njhDLd {
	font-family: "Yu Gothic UI", 'Google Sans', Arial, sans-serif !important;
	font-weight: 600 !important;
}

/* **********************************************
 * URLサムネ画像オフ
 ************************************************ */
.hide-ogp-image .Pj9rof[aria-label*="ウェブページ"] .tHcB6b {
	display: none !important;
}

/* **********************************************
 * URLサムネ埋め込み全部オフ
 ************************************************ */
.hide-ogp-all .Pj9rof[aria-label*="ウェブページ"] {
	display: none !important;
}

/* **********************************************
 * 添付ファイルのサムネ画像オフ
 ************************************************ */
.hide-file-thumbnail .Pj9rof:not([aria-label*="ウェブページ"]) .tHcB6b {
	display: none !important;
}


/* **********************************************
 * メッセージピン止めの上部バナー
 ************************************************ */
.pinned-banner {
	padding: 8px 0 2px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	color: #666;
	border-bottom: solid 1px #eee;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
}

.pinned-banner svg {
	margin-right: 4px;
	height: 16px;
	cursor: pointer;
}

.pinned-banner input[type="checkbox"] {
	display: none;
}

.pinned-banner input[type="checkbox"] ~ ul li.hide {
	height: 0;
	opacity: 0;
	transition: all ease .1s;
}

.pinned-banner input[type="checkbox"]:checked ~ ul li.hide {
	height: auto;
	opacity: 1;
}

.pinned-banner li {
	line-height: 1.5rem;
	list-style: none;
}

.pinned-banner-button {
	margin-left: 24px;
	width: 32px;
	flex: none;
	position: relative;
	cursor: pointer;
	display: block;
	opacity: 1;
	transition: opacity ease 0.2s;
}

.pinned-banner-button.hide {
	opacity: 0;
	cursor: default;
}

.pinned-banner-button:hover {
	background-color: #eee;
}

.pinned-banner-button::before {
	content: '';
	padding: 3px;
	border-right: solid 2px #5f6368;
	border-bottom: solid 2px #5f6368;
	display: block;
	position: absolute;
	left: 12px;
	bottom: 12px;
	transform: rotate(45deg);
	transition: all ease 0.2s;
}

.pinned-banner input[type="checkbox"]:checked ~ .pinned-banner-button::before {
	transform: rotate(-135deg);
	bottom: 8px;
}

.pin-container {
	margin-top: -2px;
	flex: auto;
}

.pin-content {
	position: relative;
	font-size: 0.85rem;
	top: -2px;
}

.pinned-banner span.user {
	font-weight: 600;
}

.pinned-banner a {
	color: inherit;
}

.none {
	display: none;
}



/* **********************************************
 * 画像を閉じる部分
 ************************************************ */
details.hold-images summary {
	color: #888;
	font-size: .9rem;
	cursor: pointer;
}

/* **********************************************
 * Markdown
 ************************************************ */
:root {
	--md-background-color: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--md-background-color: #303030;
	}
}

.markdown-code-style-gfm pre {
	padding: 8px;
	white-space: pre-wrap;
	background-color: var(--md-background-color);
}

.markdown-code-style-gfm code:not(.markdown-code-style-gfm pre code) {
	padding: 0 4px !important;
	background-color: var(--md-background-color) !important;
	color: #ff3333 !important;
}

.markdown-code-style-gfm blockquote {
	padding-left: 8px;
	border-left: solid 4px #ddd;
}

.markdown div[jsname="bgckF"] h1 {
	font-size: 1.5rem !important;
}

.markdown div[jsname="bgckF"] h2 {
	font-size: 1.2rem !important;
}

.markdown div[jsname="bgckF"] h3 {
	font-size: 1.1rem !important;
}

.markdown div[jsname="bgckF"] h4,
.markdown div[jsname="bgckF"] h5,
.markdown div[jsname="bgckF"] h6 {
	font-size: 1rem !important;
}

.markdown div[jsname="bgckF"] h1,
.markdown div[jsname="bgckF"] h2,
.markdown div[jsname="bgckF"] h3,
.markdown div[jsname="bgckF"] h4,
.markdown div[jsname="bgckF"] h5,
.markdown div[jsname="bgckF"] h6 {
	line-height: normal !important;
	font-weight: 600 !important;
}

.markdown div[jsname="bgckF"] ul,
.markdown div[jsname="bgckF"] ol {
	padding-left: 20px !important;
}

.markdown div[jsname="bgckF"] tr {
	border-collapse: collapse !important;
}

.markdown div[jsname="bgckF"] td,
.markdown div[jsname="bgckF"] th {
	padding: 4px !important;
	border: solid 1px #ccc !important;
}

.markdown div[jsname="bgckF"] p:not(:first-child) {
	margin-top: 8px !important;
}

 
/* **********************************************
 * リアクション
 ************************************************ */
.freq-reaction-2 .WmHgje {
	min-height: 72px !important;
}

.freq-reaction-2 .aEUhWd.iWO5td.eO2Zfd .wAf7Pd {
	max-height: 296px !important;
}
 
 
/* **********************************************
 * 
 ************************************************ */
