html {
	font-size: 16px;
}

body {
	padding: 0;
	min-width: 256px;	
	background-color: #f0f0f0;
}

h1 {
	padding: 0 16px;
}

p {
	margin-bottom: 16px;
	padding: 0 16px;
}

footer {
	background-color: #333;
	color: #ccc
}

footer p {
	margin: 0 auto;
	padding: 16px;
	text-align: center;
}

footer a {
	color: inherit;
}
